/* Calculator-layout */

#calculator-box{
    position: relative;
    margin-left: 36%;
    margin-top: 12%;
    border: 1px solid black;
    height: 56.5vh;
    width: 25vw;
}

/* Display-area */

#display-area{
    position: absolute;
    height: 27%;
    width: 100%;
    background-color: floralwhite;
    color: black;
    text-align: right;
    font-size: 2rem;
}

/* Calculator-keypad */

.row{
    top: 26.8%;
    position: relative;
    height: 8.25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.box{
    border: 1px solid black;
    height: 8.25vh;
    width: 25%;
    background-color: rgb(190, 206, 223);
}

.keypad{
    padding-top: 0%;
    margin-top: 18%;
    font-size: 2rem;
    color: black;
    text-align: center;
}